.rodape {
    display: grid;
    padding-top: 200px;
    padding-bottom: 60px;
    justify-content: center;
    background: url(../img/background/Camada2.png)  center;
    background-size: cover;
    position: relative;
    max-width: 100vw;
    }

.rodape-info {
    text-align: center;
    color: var(--cor-4);
}

.rodape::after {
    content:"";
    width:200px;
    height:200px;
    background-image: url(../img/background/castelinho.png);
    z-index: 1;
    position: absolute;
    left: 100px;
    background-size: contain;
    z-index: 0;
}

