body {
    position: relative;
    margin: 0px;
    padding: 0px;
}

.home {
    display: grid;
    grid-template-columns: auto auto;
    gap: 40px;
    padding-left: 32px;
    margin: 0 auto;

}


.introducao {
    margin-bottom: 12px;
    text-align: justify;
    text-indent: 4ch;
    max-width: 80ch;
}

.capa {
    padding-left: 40px;
}

.home img {
    display: block;
    object-fit: contain;
    max-width: 100%;
    width: auto;
}

.galeriaImagens {
    display: flex;
    overflow-x: auto;
    gap: 4px;
    padding-left: 0px;
}

.galeriaImagens img{
    max-height: 250px;
    opacity: 0.8;
}

.galeriaImagens img:hover {
    opacity: 1;
    cursor: pointer;
}




@media (max-width: 1000px) {
    .home {
        grid-template-columns: auto;
    }
    .home img {
        padding-bottom: 30px;
    }
}

.display_none {
    display: none;
}

.fechar {
    position: absolute;
    border-radius: 4px;
    border: 1px rgb(189, 189, 189) solid;
    right: 24px;
    z-index: 1;
}

.imagens_modal img {
    border-radius: 8px;
    max-width: 80vw;
}

.imagens_modal li {
    
    text-align: center;
}

