.home {
    display: grid;
    grid-template-columns: auto auto;
    gap: 40px;
    padding-left: 32px;
    margin: 0 auto;

}

.introducao {
    margin-bottom: 12px;
    text-align: justify;
    text-indent: 4ch;
    max-width: 80ch;
}

.capa {
    padding-left: 40px;
}

.home img {
    display: block;
    object-fit: contain;
    max-width: 100%;
    width: auto;
}

@media (max-width: 1000px) {
    .home {
        grid-template-columns: auto;
    }
    .home img {
        padding-bottom: 30px;
    }
}