.especialidades-descricao {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
}

.especialidades-descricao img {
    max-width: 16px;
    max-height: 16px;

}

.cabecalho {
    margin-left: 40px;
    padding-bottom: 20px;
}

.especialidades p {
    display: none;
}

.especialidades p.ativa {
    display: block;
}

.especialidades {
    padding-top: 20px;
    padding-bottom: 120px;
}



.especialidades p {
    background: #ffffff8a;
    padding: 16px 20px;
    max-width: 80ch;
    border-radius: 0 0 5px 5px;
    grid-column: 1/-1;
}

.transition { 
    transition: 0.3s;
}

.especialidades-descricao {
    margin-bottom: 20px;
    background: #e4e4e49d;
    max-width: 80ch;
    border-radius: 5px;
}

.especialidades {
    background: url(../img/background/fundo_menino.png) no-repeat top right ;
    background-size: 20%;
}

.especialidades button {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    grid-column: 1/-1;
    border: none;
    text-align: start;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
    padding: 10px 0px 10px 10px;
    width: 100%;
}

.especialidades button:hover{
    background: #eeeeee85;
    color: var(--cor-10)
}

.especialidades button::after {
    content: "";
    display: inline-block;
    margin-right: 12px;
    width: 14px;
    height: 6px;
    background: url(../img/icons/seta-abrir.svg);
    transition: .3s;
}



.especialidades button:hover::after, .especialidades button[aria-expanded="true"]::after {
    transform: rotate(180deg);
}

@media (max-width: 1000px) {
    .especialidades {
        background: none;
    }
    .especialidades-descricao button {
        font-size: 1.4rem;
        padding: 12px 0px 12px 10px;
    }
    .especialidades-descricao {
        max-width: 100%;
        margin: 20px;
    }
    .especialidades p {
        max-width: 100%;
    }
}
