.especialidades-descricao {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 12px;
    align-items: center;
}

.especialidades-descricao img {
    max-width: 16px;
    max-height: 16px;

}

.especialidades {
    padding-top: 20px;
    padding-bottom: 120px;
}

.especialidades-bg {
    position: absolute;
    top: 100px;
    right: 0px;
    width: calc(50% - 350px);
    height: calc(50% -387px);
    max-width: 250px;
}


.especialidades p {
    display: none;
    background: #ffffff8a;
    padding: 16px 20px;
    max-width: 80ch;
    border-radius: 0 0 5px 5px;
    grid-column: 1/-1;
    color: var(--cor-8);

}

.especialidades-descricao {
    margin-bottom: 20px;
    background: #e4e4e49d;
    max-width: 80ch;
    border-radius: 5px;
    position: relative;
}

.especialidades button {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    grid-column: 1/-1;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    color: var(--cor-9);
    border: none;
    text-align: start;
    padding: 16px 12px;
    background-color: #e4e4e49d;
}


.seta {
    position: absolute;
    right: 15px;
    top: 30px;
    transform: rotate(180deg);
}


@media (max-width: 1000px) {
    .especialidades {
        background: none;
    }
    .especialidades-descricao h2 {
        font-size: 1.4rem;
    }
    .especialidades-descricao {
        max-width: 100%;
        margin: 20px;
    }
    .especialidades p {
        max-width: 100%;
    }
    .especialidades-bg {
        display: none;
    }
}
