.rodape {
    display: grid;
    font-size: 1.1rem;
    width: 100%;
    padding-top: 200px;
    padding-bottom: 60px;
    background: url(../../img/background/Camada2.png)  center;
    background-size: cover;
    color: var(--cor-4);
    text-align: center;
    position: relative;
    }

.rodape::after {
    content:"";
    width:200px;
    height:200px;
    background-image: url(../../img/background/castelinho.png);
    z-index: 1;
    position: absolute;
    left: 100px;
    background-size: contain;

}

.info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 60px;
    margin: 0 auto;
    gap: 60px;
    color: var(--cor-6) ;
}

.endereco {
    display: block;
    text-align: start;
    font-size: 1.7rem;
    font-family: "Roboto";
    text-align: right;
    align-self: center;
    color: var(--cor-8)
}

.endereco h2 {
    padding-bottom: .8rem;
    font-size: 1.4rem;
}

.endereco p {
    padding-bottom: .4rem;
    font-size: 1rem;
}

.endereco p:last-child {
    padding-bottom:2rem;
}




.mapa {
    display: block;
    padding-right: 20px;
    max-width: 100%;
    object-fit: contain;
    margin: 0 auto;
}

@media (max-width:750px) {
    .info{
    grid-template-columns: 1fr;
    gap: 10px;
    padding-top: 100px;
}
    .endereco {
    padding-left: 20px;
    text-align: start;
    }
    .mapa {
        padding-left: 10px;
    }
    .rodape::after {
        display: none;
    }
}