.rodape {
    display: grid;
    font-size: 1.1rem;
    width: 100%;
    padding-top: 200px;
    padding-bottom: 60px;
    justify-content: center;
    background: url(../../img/background/Camada2.png)  center;
    background-size: cover;
    color: var(--cor-4);
    text-align: center;
    position: relative;
    }

.rodape::after {
    content:"";
    width:200px;
    height:200px;
    background-image: url(../../img/background/castelinho.png);
    z-index: 1;
    position: absolute;
    left: 100px;
    background-size: contain;
    z-index: 0;
}

