.topo {    
background-image: url(../../img/background/Camada1.png);
background-position: 0px -120px;
position: relative;
justify-content: center;
padding-bottom: 40px;
}


.header ul {
    display: flex;
    gap: 40px;
    list-style-type: none;
    padding-bottom: 20px;
    padding-left: 0px;
    flex-wrap: wrap;
    justify-content: center;
}

.menu a{
    display: inline;
    color: var(--cor-5);

}

.logo {
    display: flex;
    padding-top: 32px;
    padding-bottom: 50px;
    place-content: center;
}

@media (max-width: 600px) {
    .menu a {
        background-color: aliceblue;
        padding: 12px 16px;
        border-radius: 5px;
        
    }
}